# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Git
.git/
.gitignore

# Tests & coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local databases
*.db
*.sqlite3

# Docker
Dockerfile
docker-compose.yml

# IDEs
.vscode/
.idea/
